.body {
	position: fixed;
	width: 100%;
	height: 100%;
	background-size: contain;
	line-height: 1.6;
	font-family: sans-serif;
	background: darkslategray;
}

.bg {
	position: fixed;
	left: 0;
	width: 100%;
	height: 90vh;
	overflow: scroll;
}

.message-container-background .message-container {
	overflow: scroll;
	padding-left: 10px;
	padding-right: 10px;
	height: 70vh;
	margin-top: 5px;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.message-container-background {
	height: 100%;
	margin-top: 20px;
	background: darkslategray;
	overflow: hidden;
	margin-left: 30px;
}

.message-grid {
	display: grid;
	margin: 0 auto;
	grid-gap: 1rem;
	max-width: 1500px;
}

.message {
	background: lightgreen;
	height: 150px;
	color: black;
	width: 350px;
	text-align: center;
	padding-right: 2rem;
}

.message:hover {
	box-shadow: 6px 6px 29px -14px black;
	background: rgb(129, 212, 129);
	margin: -5px 0px 0px -5px;
}

.poster {
	color: rgba(0, 128, 0, 0.253);
	font-size: 25px;
	text-overflow: ellipsis;
	text-align: center;
}

.message .post {
	font-size: 15px;
	word-wrap: break-word;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 10px;
	text-align: left;
}

.post-auth {
	overflow: hidden;
	display: inline-block;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid black;
	width: 300px;
	color: white;
}

.post-auth:focus {
	outline: transparent;
	border-bottom: 1px solid lightgreen;
}

.postfield:focus {
	outline: transparent;
	border-bottom: 1px solid lightgreen;
}

.postfield {
	border: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	width: 300px;
	color: white;
}

.submitbtn {
	border-color: black;
	width: 300px;
	border-radius: 5px;
	background: lightgreen;
}
.submitbtn:hover {
	border-color: black;
	width: 300px;
	border-radius: 5px;
	background: green;
	color: white;
	margin: -5px 0px 0px -5px;
}

.form-container {
	color: black;
	padding-top: 3px;
	padding-bottom: 40px;
	text-align: center;
	padding-left: 5px;
}

.post-form {
	border-bottom: 3px solid white;
	background: darkslategray;
	width: 800px;
	height: 195px;
	z-index: 9999;
	display: inline-block;
	margin-top: 3px;
	margin-bottom: 10px;
}

@media (max-width: 1199px) {
	.message-grid {
		grid-template-columns: repeat(3, 1fr);
	}
	.message {
		width: 280px;
	}
}

@media (max-width: 991px) {
	.message-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.message {
		width: 300px;
	}
}

@media (max-width: 767px) {
	.message-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.message {
		width: 235px;
	}

	.poster {
		font-size: 20px;
	}
}

@media (max-width: 600px) {
	.message-grid {
		grid-template-columns: repeat(1, 1fr);
	}

	.message {
		width: 100%;
	}
}
@media (min-width: 992px) {
	.message-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
