.row {
	margin-bottom: 10vw;
}

.bg-scroll {
	height: 95vh;
	overflow: scroll;
}

.carousel {
	align-content: center;
	padding: 3px 3px 3px 3px;
	border-radius: 100%;
}

.carousel-img {
	margin: auto;
	width: 800px;
	height: 600px;
	border-radius: 1000px;
	border: 2px solid lightgreen;
}

.carousel-inner {
	width: 100%;
	height: auto;
	display: flex;
}

.info {
	background: lightgreen;
	height: 180px;
	color: black;
	width: 100px;
	text-align: center;
	padding-right: 2rem;
	overflow: scroll;
	margin-bottom: 100px;
	margin-top: 10px;
}

.info-footer {
	color: rgba(0, 128, 0, 0.253);
	text-align: right;
	font-size: small;
}

@media (min-width: 1199px) {
	.carousel-img {
		width: 800px;
		height: 600px;
		border-radius: 1000px;
	}
}

@media (max-width: 991px) {
	.carousel-img {
		width: 600px;
		height: 400px;
		border-radius: 1000px;
	}
}

@media (max-width: 767px) {
	.carousel-img {
		width: 500px;
		height: 350px;
		border-radius: 1000px;
	}
}

@media (max-width: 600px) {
	.carousel-img {
		width: 400px;
		height: 300px;
		border-radius: 1000px;
	}
}
@media (min-width: 992px) {
	.carousel-img {
		margin: auto;
		width: 700px;
		height: 525px;
		border-radius: 1000px;
	}
}
