.my-navbar {
	background-color: lightgreen;
	border-bottom: 5px solid green;
	border-radius: 0;

	z-index: 9999;
}

.my-navbar .navbar-text {
	color: black;
	padding-right: 30px;
	padding-left: 15px;
}

.navbar.my-navbar .navbar-brand {
	color: black;
}

.my-navbar .navbar-brand {
	color: white;
}

.my-navbar .navbar-toggle {
	background-color: transparent;
}

.my-navbar .icon-bar {
	background-color: turquoise;
}

.btn {
	background: white;
	border-color: black;
	margin-left: 10px;
}

.btn:hover {
	background: rgb(14, 139, 14);
	color: white;
}

.input {
	background: white;
	border: 1px solid black;
	margin-left: 10px;
	display: inline-block;
	border-radius: 3px;
	text-indent: 10px;
	width: 150px;
}
